body { font-family: sans-serif; }
div, section { box-sizing: border-box; }

/* DEBUG */
/** { border: 1px solid black; }*/

hr {
    border: none;
    border-bottom: 2px solid black;
}

.ttu { text-transform: uppercase; }

.container {
    padding: 1rem 1rem;
    width: 100%;
    max-width: 20rem;
    margin: 0 auto;
}

.heading {
    font-size: 1.5em;
    margin-top: 0;
}

.card {
    display: table;
    margin: 0 auto;
    width: 100%; /* 18rem; */
    height: 16rem;
    /*padding: 1em;*/
    border: 2px solid black;
    border-radius: 1rem;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.card:after {
    top: 0;
    text-align: left;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1em;
    content: 'hidden';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(0,0,0,0);
    transition: background-color 0.5s, color 0.3s;;
}

.card.hide{
    background-color: #000;
}

.card > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-text {
    display: table-cell;
    vertical-align: middle;
}

.card .card-spy {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    text-align: center;
}

.button-group {
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.button {
    /* reset */
    -webkit-appearance: none;
    padding: 1rem;
    background: #FFF;
    border: 2px solid black;
    border-radius: 0.125rem;
    font-weight: 600;
    /*margin-right: 0.25rem;*/
}

.button:disabled {
    border-color: #CCC;
}

.list-button {
    border: 2px solid black;
    padding: 0.5rem 1rem;
    margin-bottom: 0.125rem;
    border-radius: 0.125rem;
}
